@use "../../../styles/variables";

.music-player {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    gap: 12px;
    padding: 12px;
    position: sticky;
    top: 0;

    > .input-file {
      input {
        display: none;
      }
    }
  }

  .no-music {
    font-size: var(--fontsize-text-text);
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    @media screen and (max-width: #{map-get(variables.$breakpoints, sp)}) {
      justify-content: normal;
    }

    > .music-meta {
      display: flex;
      flex-direction: row;
      gap: 64px;
      margin: 0 12px 36px;

      @media screen and (max-width: #{map-get(variables.$breakpoints, sp)}) {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      > .jacket-picture {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 30%;

        @media screen and (max-width: #{map-get(variables.$breakpoints, sp)}) {
          margin-bottom: 24px;
          width: 100%;
        }
      }

      > .player-control {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;

        @media screen and (max-width: #{map-get(variables.$breakpoints, sp)}) {
          width: 100%;
        }

        > .player {
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 8px;

          @media screen and (max-width: #{map-get(variables.$breakpoints, sp)}) {
            width: 100%;
          }

          > .time {
            align-items: center;
            display: flex;
            gap: 18px;
            width: 100%;

            p {
              font-size: 0.6rem;
            }

            > .seekbar {
              appearance: none;
              background: #b7b7b7;
              border: solid 1px #dff1ff;
              border-radius: 10px;
              cursor: pointer;
              flex-grow: 1;
              height: 6px;
              width: 70%;
            }

            > .seekbar::-webkit-slider-thumb {
              appearance: none;
              background: var(--color-background);
              border: solid 1px #fff;
              border-radius: 50%;
              height: 20px;
              width: 20px;
            }
          }

          > .current-music-display {
            font-size: 0.8rem;
            padding-bottom: 10px;
          }

          > .control {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 56px;

            > .play {
              transform: scale(-1, 1);
            }
          }
        }
      }
    }
  }
}
