/* アニメーション用CSS */

@theme {
  --animate-fade-in-from-right: fade-in-from-right 0.5s ease-out;
  --animate-float-github: float-github 0.3s ease-out 0.05s forwards;
  --animate-float-musicplayer: float-music 0.3s ease-out 0.1s forwards;
  --animate-float-lp: float-lp 0.3s ease-out 0.15s forwards;

  @keyframes fade-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes float-github {
    from {
      opacity: 0;
      transform: translateX(calc(theme(spacing.32) - theme(spacing.3)));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes float-music {
    from {
      opacity: 0;
      transform: translate(
        calc(theme(spacing.20) - theme(spacing.2)),
        calc(theme(spacing.20) - theme(spacing.2))
      );
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes float-lp {
    from {
      opacity: 0;
      transform: translate(
        calc(theme(spacing.3) - theme(spacing.2)),
        calc(theme(spacing.32) - theme(spacing.2))
      );
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
