.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;

  > .left-content {
    > .welcome {
      margin: 0px;
      font-size: 92px;
    }

    > .nazo-image {
      max-width: 300px;
      margin-top: 54px;
    }
  }

  > .right-content {
    > ul {
      list-style: none;

      > li {
        margin: 54px 0;
      }

      > li:nth-child(2) {
        margin-left: 130px;
      }

      > li:nth-child(3) {
        margin-left: 260px;
      }
    }
  }
}
