.title {
  margin: 0 0 8px;
}

table {
  border-collapse: collapse;
  margin-bottom: 24px;
  table-layout: fixed;
  width: 100%;

  > tbody {
    border-top: 3px solid var(--color-border-default);

    > tr {
      td {
        padding: 12px 4px;
      }

      td.first-cell {
        padding: 24px 48px;
        text-align: center;
        width: 10%;
      }

      td.second-cell {
        text-align: left;
      }
    }
  }
}
