.loading {
  animation: l1 1s infinite linear;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #f2f2f2;
  background-size: 300% 100%;
  height: 3px;
}

@keyframes l1 {
  0% {
    background-position: right;
  }
}
