@import-normalize;

// 英字、数字用フォント
@font-face {
  font-family: "rounded-mplus-1p";
  src: url("./assets/fonts/rounded-mplus-1p/rounded-mplus-1p-regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// 日本語、漢字用フォント
@font-face {
  font-family: "uzura";
  src: url("./assets/fonts/uzura/uzura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// 変数
:root {
  // 命名ルール
  // --{対象のCSS}-{対象の要素}
  --color-background: #2f3b69;
}

body {
  font-family:
    "uzura",
    "rounded-mplus-1p",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
